@import "../scss/font-awesome.scss";
@import "../scss/slick.scss";
@import "../scss/slick-theme.scss";
@import "./themify.scss";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@egjs/view360/sass/view360.sass";
@import 'photoswipe/dist/photoswipe.css';
@import "./color1.scss";
